# Node modules
node_modules/

# Environment files
*.env
**/.env

# Logs
*.log

# Local settings
*.local

# MacOS
.DS_Store

# Build output
/build/
/dist/

# Test coverage
/coverage/

# Editor configs
.vscode/

# Video files
**/*.mp4

