node_modules
/node_modules       # juda katta papka, kerak emas
.env
*/.env               # maxfiy fayl
*.log               # log fayllar
*.local             # lokal sozlamalar
.DS_Store           # macOS uchun
/build              # qurilgan fayllar (React, Vue, va boshqalar)
/coverage           # test coverage natijalari
/.vscode            # Visual Studio Code sozlamalari
*/*.mp4
*.mp4